
/* Sets header design */
header {
    text-align: center;
    font-size: 24px;
    border: 10px solid #E58746;
    background-color: #372723;
    color: #83cfe2;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 .Connected {
    color: #F45252;
}

/* centering nav */ 

nav {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #F45252;
}

nav a {
    font-size: 20px;
    color: #372723;
    padding: 14px 50px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* resizing image */
div .center {
   width: 30%;
   height: 30%;
   display: block;
   padding: 20px;
   margin-left: auto;
   margin-right: auto;
}

/* creating borders and input for contact box */
.lesson {
    margin: auto;
    padding: 20px;
    width: 700px;
    height: 250px;
    background-color: #61c5df;
    border: 5px solid #372723;
}

 h2{
    border: 2px solid #372723;
    padding: 10px;
    color: #F45252;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;  
}

p {
    padding-left: 10px;
}

input[type=text], select {
    width: 50%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }